## Question 1

What's the version of NumPy that you installed?

In [3]:
import numpy as np

np.__version__

'1.23.2'

## Getting the data

In [6]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-09-14 09:44:50--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8001::154, 2606:50c0:8002::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  3.80MB/s    in 0.4s

2023-09-14 09:44:51 (3.80 MB/s) - ‘data.csv’ saved [1475504/1475504]

## Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

* [ ] 16
* [ ] 6572
* [x] 11914
* [ ] 18990

In [40]:
import pandas as pd
df = pd.read_csv('data.csv')

In [8]:
df.shape

(11914, 16)

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

* [ ] Chevrolet, Volkswagen, Toyota
* [ ] Chevrolet, Ford, Toyota
* [ ] Ford, Volkswagen, Toyota
* [x] Chevrolet, Ford, Volkswagen

In [12]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [11]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [14]:
df['Make'].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [15]:
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

* [ ] 3
* [ ] 16
* [ ] 26
* [x] 34

In [22]:
df.Model[df.Make == 'Audi'].nunique()

34

## Question 5
How many columns in the dataset have missing values?

* [x] 5
* [ ] 6
* [ ] 7
* [ ] 8

In [27]:
(df.isnull().sum().values > 0).sum()

5

## Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?
 * [ ] Yes
 * [x] No

In [41]:
df['Engine Cylinders'].median()

6.0

In [43]:
df['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [44]:
most_frequent_cylinder = 4.0

In [45]:
df['Engine Cylinders'].isnull().sum()

30

In [46]:
df['Engine Cylinders'].fillna(value=most_frequent_cylinder, inplace=True)

In [47]:
df['Engine Cylinders'].isnull().sum()

0

In [48]:
df['Engine Cylinders'].median()

6.0

## Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Compute the inverse of XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

* [ ] -0.0723
* [x] 4.5949
* [ ] 31.6537
* [ ] 63.5643

In [52]:
for col in  df.columns:
  print(col)
  print(df[col].unique())
  print()

Make
['BMW' 'Audi' 'FIAT' 'Mercedes-Benz' 'Chrysler' 'Nissan' 'Volvo' 'Mazda'
 'Mitsubishi' 'Ferrari' 'Alfa Romeo' 'Toyota' 'McLaren' 'Maybach'
 'Pontiac' 'Porsche' 'Saab' 'GMC' 'Hyundai' 'Plymouth' 'Honda'
 'Oldsmobile' 'Suzuki' 'Ford' 'Cadillac' 'Kia' 'Bentley' 'Chevrolet'
 'Dodge' 'Lamborghini' 'Lincoln' 'Subaru' 'Volkswagen' 'Spyker' 'Buick'
 'Acura' 'Rolls-Royce' 'Maserati' 'Lexus' 'Aston Martin' 'Land Rover'
 'Lotus' 'Infiniti' 'Scion' 'Genesis' 'HUMMER' 'Tesla' 'Bugatti']

Model
['1 Series M' '1 Series' '100' '124 Spider' '190-Class' '2 Series' '200'
 '200SX' '240SX' '240' '2' '3 Series Gran Turismo' '3 Series' '300-Class'
 '3000GT' '300' '300M' '300ZX' '323' '350-Class' '350Z' '360' '370Z' '3'
 '4 Series Gran Coupe' '4 Series' '400-Class' '420-Class' '456M'
 '458 Italia' '4C' '4Runner' '5 Series Gran Turismo' '5 Series'
 '500-Class' '500e' '500' '500L' '500X' '550' '560-Class' '570S' '575M'
 '57' '599' '5' '6 Series Gran Coupe' '6 Series' '600-Class' '6000'
 '612 Scaglietti' '626' '62' '650S Coupe' '650S Spider' '6' '7 Series'
 '718 Cayman' '740' '760' '780' '8 Series' '80' '850' '86' '9-2X'
 '9-3 Griffin' '9-3' '9-4X' '9-5' '9-7X' '9000' '900' '90' '911' '928'
 '929' '940' '944' '960' '968' 'A3' 'A4 allroad' 'A4' 'A5' 'A6' 'A7' 'A8'
 'Acadia Limited' 'Acadia' 'Accent' 'Acclaim' 'Accord Crosstour'
 'Accord Hybrid' 'Accord Plug-In Hybrid' 'Accord' 'Achieva'
 'ActiveHybrid 5' 'ActiveHybrid 7' 'ActiveHybrid X6' 'Aerio' 'Aerostar'
 'Alero' 'Allante' 'allroad quattro' 'allroad' 'ALPINA B6 Gran Coupe'
 'ALPINA B7' 'Alpina' 'Altima Hybrid' 'Altima' 'Amanti' 'AMG GT' 'Armada'
 'Arnage' 'Aspen' 'Aspire' 'Astro Cargo' 'Astro' 'ATS Coupe' 'ATS-V' 'ATS'
 'Aurora' 'Avalanche' 'Avalon Hybrid' 'Avalon' 'Avenger' 'Aventador'
 'Aveo' 'Aviator' 'Axxess' 'Azera' 'Aztek' 'Azure T' 'Azure'
 'B-Class Electric Drive' 'B-Series Pickup' 'B-Series Truck' 'B-Series'
 'B9 Tribeca' 'Baja' 'Beetle Convertible' 'Beetle' 'Beretta'
 'Black Diamond Avalanche' 'Blackwood' 'Blazer' 'Bolt EV' 'Bonneville'
 'Borrego' 'Boxster' 'Bravada' 'Breeze' 'Bronco II' 'Bronco' 'Brooklands'
 'Brougham' 'BRZ' 'C-Class' 'C-Max Hybrid' 'C30' 'C36 AMG' 'C43 AMG' 'C70'
 'C8' 'Cabriolet' 'Cabrio' 'Cadenza' 'Caliber' 'California T' 'California'
 'Camaro' 'Camry Hybrid' 'Camry Solara' 'Camry' 'Canyon' 'Caprice'
 'Captiva Sport' 'Caravan' 'Carrera GT' 'Cascada' 'Catera' 'Cavalier'
 'Cayenne' 'Cayman S' 'Cayman' 'CC' 'Celebrity' 'Celica' 'Century'
 'Challenger' 'Charger' 'Chevy Van' 'Ciera' 'Cirrus' 'City Express'
 'Civic CRX' 'Civic del Sol' 'Civic' 'C/K 1500 Series' 'C/K 2500 Series'
 'CL-Class' 'CLA-Class' 'CL' 'Classic' 'CLK-Class' 'CLS-Class' 'Cobalt'
 'Colorado' 'Colt' 'Concorde' 'Continental Flying Spur Speed'
 'Continental Flying Spur' 'Continental GT Speed Convertible'
 'Continental GT Speed' 'Continental GT3-R' 'Continental GT'
 'Continental GTC Speed' 'Continental GTC'
 'Continental Supersports Convertible' 'Continental Supersports'
 'Continental' 'Contour SVT' 'Contour' 'Corniche' 'Corolla iM' 'Corolla'
 'Corrado' 'Corsica' 'Corvette Stingray' 'Corvette' 'Coupe' 'CR-V' 'CR-Z'
 'Cressida' 'Crossfire' 'Crosstour' 'Crosstrek' 'Crown Victoria'
 'Cruze Limited' 'Cruze' 'CT 200h' 'CT6' 'CTS Coupe' 'CTS-V Coupe'
 'CTS-V Wagon' 'CTS-V' 'CTS Wagon' 'CTS' 'Cube' 'Custom Cruiser'
 'Cutlass Calais' 'Cutlass Ciera' 'Cutlass Supreme' 'Cutlass' 'CX-3'
 'CX-5' 'CX-7' 'CX-9' 'Dakota' 'Dart' 'Dawn' 'Daytona' 'DB7' 'DB9 GT'
 'DB9' 'DBS' 'Defender' 'DeVille' 'Diablo' 'Diamante'
 'Discovery Series II' 'Discovery Sport' 'Discovery' 'DTS' 'Durango'
 'Dynasty' 'E-150' 'E-250' 'E-Class' 'e-Golf' 'E-Series Van'
 'E-Series Wagon' 'E55 AMG' 'ECHO' 'Eclipse Spyder' 'Eclipse' 'Edge'
 'Eighty-Eight Royale' 'Eighty-Eight' 'Elantra Coupe' 'Elantra GT'
 'Elantra Touring' 'Elantra' 'Eldorado' 'Electra' 'Element' 'Elise'
 'Enclave' 'Encore' 'Endeavor' 'Entourage' 'Envision' 'Envoy XL'
 'Envoy XUV' 'Envoy' 'Enzo' 'Eos' 'Equator' 'Equinox' 'Equus' 'ES 250'
 'ES 300h' 'ES 300' 'ES 330' 'ES 350' 'Escalade ESV' 'Escalade EXT'
 'Escalade Hybrid' 'Escalade' 'Escape Hybrid' 'Escape' 'Escort' 'Esprit'
 'Estate Wagon' 'Esteem' 'EuroVan' 'Evora 400' 'Evora' 'EX35' 'Excel'
 'Exige' 'EX' 'Expedition' 'Explorer Sport Trac' 'Explorer Sport'
 'Explorer' 'Expo' 'Express Cargo' 'Express' 'F-150 Heritage'
 'F-150 SVT Lightning' 'F-150' 'F-250' 'F12 Berlinetta' 'F430' 'Festiva'
 'FF' 'Fiesta' 'Firebird' 'Fit EV' 'Fit' 'Five Hundred' 'FJ Cruiser'
 'Fleetwood' 'Flex' 'Flying Spur' 'Focus RS' 'Focus ST' 'Focus' 'Forenza'
 'Forester' 'Forte' 'Fox' 'FR-S' 'Freelander' 'Freestar' 'Freestyle'
 'Frontier' 'Fusion Hybrid' 'Fusion' 'FX35' 'FX45' 'FX50' 'FX' 'G-Class'
 'G Convertible' 'G Coupe' 'G Sedan' 'G20' 'G35' 'G37 Convertible'
 'G37 Coupe' 'G37 Sedan' 'G37' 'G3' 'G5' 'G6' 'G80' 'G8' 'Galant'
 'Gallardo' 'Genesis Coupe' 'Genesis' 'Ghibli' 'Ghost Series II' 'Ghost'
 'GL-Class' 'GLA-Class' 'GLC-Class' 'GLE-Class Coupe' 'GLE-Class' 'GLI'
 'GLK-Class' 'GLS-Class' 'Golf Alltrack' 'Golf GTI' 'Golf R'
 'Golf SportWagen' 'Golf' 'Grand Am' 'Grand Caravan' 'Grand Prix'
 'Grand Vitara' 'Grand Voyager' 'GranSport' 'GranTurismo Convertible'
 'GranTurismo' 'GS 200t' 'GS 300' 'GS 350' 'GS 400' 'GS 430' 'GS 450h'
 'GS 460' 'GS F' 'GT-R' 'GT' 'GTI' 'GTO' 'GX 460' 'GX 470' 'H3' 'H3T'
 'HHR' 'Highlander Hybrid' 'Highlander' 'Horizon' 'HR-V' 'HS 250h'
 'Huracan' 'i-MiEV' 'I30' 'I35' 'i3' 'iA' 'ILX Hybrid' 'ILX'
 'Impala Limited' 'Impala' 'Imperial' 'Impreza WRX' 'Impreza' 'iM'
 'Insight' 'Integra' 'Intrepid' 'Intrigue' 'iQ' 'IS 200t' 'IS 250 C'
 'IS 250' 'IS 300' 'IS 350 C' 'IS 350' 'IS F' 'J30' 'Jetta GLI'
 'Jetta Hybrid' 'Jetta SportWagen' 'Jetta' 'Jimmy' 'Journey' 'Juke'
 'Justy' 'JX' 'K900' 'Kizashi' 'LaCrosse' 'Lancer Evolution'
 'Lancer Sportback' 'Lancer' 'Land Cruiser' 'Landaulet' 'Laser' 'Le Baron'
 'Le Mans' 'Leaf' 'Legacy' 'Legend' 'LeSabre' 'Levante' 'LFA' 'LHS'
 'Loyale' 'LR2' 'LR3' 'LR4' 'LS 400' 'LS 430' 'LS 460' 'LS 600h L' 'LS'
 'LSS' 'LTD Crown Victoria' 'Lucerne' 'Lumina Minivan' 'Lumina' 'LX 450'
 'LX 470' 'LX 570' 'M-Class' 'M2' 'M30' 'M35' 'M37' 'M3' 'M4 GTS' 'M45'
 'M4' 'M56' 'M5' 'M6 Gran Coupe' 'M6' 'Macan' 'Magnum' 'Malibu Classic'
 'Malibu Hybrid' 'Malibu Limited' 'Malibu Maxx' 'Malibu' 'Mark LT'
 'Mark VIII' 'Mark VII' 'Matrix' 'Maxima' 'Maybach' 'Mazdaspeed 3'
 'Mazdaspeed 6' 'Mazdaspeed MX-5 Miata' 'Mazdaspeed Protege' 'M' 'MDX'
 'Metris' 'Metro' 'Mighty Max Pickup' 'Millenia' 'Mirage G4' 'Mirage'
 'MKC' 'MKS' 'MKT' 'MKX' 'MKZ Hybrid' 'MKZ' 'ML55 AMG' 'Model S' 'Monaco'
 'Montana SV6' 'Montana' 'Monte Carlo' 'Montero Sport' 'Montero' 'MP4-12C'
 'MPV' 'MR2 Spyder' 'MR2' 'Mulsanne' 'Murano CrossCabriolet' 'Murano'
 'Murcielago' 'Mustang SVT Cobra' 'Mustang' 'MX-3' 'MX-5 Miata' 'MX-6'
 'Navajo' 'Navigator' 'Neon' 'New Beetle' 'New Yorker' 'Ninety-Eight'
 'Nitro' 'NSX' 'NV200' 'NX 200t' 'NX 300h' 'NX' 'Odyssey' 'Omni'
 'Optima Hybrid' 'Optima' 'Outback' 'Outlander Sport' 'Outlander'
 'Pacifica' 'Panamera' 'Park Avenue' 'Park Ward' 'Paseo' 'Passat'
 'Passport' 'Pathfinder' 'Phaeton' 'Phantom Coupe'
 'Phantom Drophead Coupe' 'Phantom' 'Pickup' 'Pilot' 'Precis' 'Prelude'
 'Previa' 'Prius c' 'Prius Prime' 'Prius v' 'Prius' 'Prizm' 'Probe'
 'Protege5' 'Protege' 'Prowler' 'PT Cruiser' 'Pulsar' 'Q3' 'Q40' 'Q45'
 'Q50' 'Q5' 'Q60 Convertible' 'Q60 Coupe' 'Q70' 'Q7' 'Quattroporte'
 'Quest' 'QX4' 'QX50' 'QX56' 'QX60' 'QX70' 'QX80' 'QX' 'R-Class' 'R32'
 'R8' 'Rabbit' 'Raider' 'Rainier' 'Rally Wagon' 'RAM 150' 'RAM 250'
 'Ram 50 Pickup' 'Ram Cargo' 'Ram Pickup 1500' 'Ram Van' 'Ram Wagon'
 'Ramcharger' 'Range Rover Evoque' 'Range Rover Sport' 'Range Rover'
 'Ranger' 'Rapide S' 'Rapide' 'RAV4 EV' 'RAV4 Hybrid' 'RAV4' 'RC 200t'
 'RC 300' 'RC 350' 'RC F' 'RDX' 'Reatta' 'Regal' 'Regency' 'Rendezvous'
 'Reno' 'Reventon' 'Ridgeline' 'Rio' 'Riviera' 'RL' 'RLX' 'Roadmaster'
 'Rogue Select' 'Rogue' 'Rondo' 'Routan' 'RS 4' 'RS 5' 'RS 6' 'RS 7' 'RSX'
 'RX 300' 'RX 330' 'RX 350' 'RX 400h' 'RX 450h' 'RX-7' 'RX-8'
 'S-10 Blazer' 'S-10' 'S-15 Jimmy' 'S-15' 'S-Class' 'S2000' 'S3' 'S40'
 'S4' 'S5' 'S60 Cross Country' 'S60' 'S6' 'S70' 'S7' 'S80' 'S8' 'S90'
 'Safari Cargo' 'Safari' 'Samurai' 'Santa Fe Sport' 'Santa Fe'
 'Savana Cargo' 'Savana' 'SC 300' 'SC 400' 'SC 430' 'Scoupe' 'Sebring'
 'Sedona' 'Sentra' 'Sephia' 'Sequoia' 'Seville' 'Shadow' 'Shelby GT350'
 'Shelby GT500' 'Sidekick' 'Sienna' 'Sierra 1500 Classic'
 'Sierra 1500 Hybrid' 'Sierra 1500' 'Sierra 1500HD' 'Sierra C3'
 'Sierra Classic 1500' 'Sigma' 'Silhouette' 'Silver Seraph'
 'Silverado 1500 Classic' 'Silverado 1500 Hybrid' 'Silverado 1500'
 'Sixty Special' 'Skylark' 'SL-Class' 'SLC-Class' 'SLK-Class'
 'SLR McLaren' 'SLS AMG GT Final Edition' 'SLS AMG GT' 'SLS AMG' 'SLX'
 'Solstice' 'Sonata Hybrid' 'Sonata' 'Sonic' 'Sonoma' 'Sorento' 'Soul EV'
 'Soul' 'Spark EV' 'Spark' 'Spectra' 'Spirit' 'Sportage' 'Sportvan'
 'Spyder' 'SQ5' 'SRT Viper' 'SRX' 'SS' 'SSR' 'Stanza' 'Stealth' 'Stratus'
 'STS-V' 'STS' 'Suburban' 'Sunbird' 'Sundance' 'Sunfire' 'Superamerica'
 'Supersports Convertible ISR' 'Supra' 'SVX' 'Swift' 'SX4' 'Syclone'
 'T100' 'Tacoma' 'Tahoe Hybrid' 'Tahoe Limited/Z71' 'Tahoe' 'Taurus X'
 'Taurus' 'TC' 'tC' 'Tempo' 'Tercel' 'Terrain' 'Terraza' 'Thunderbird'
 'Tiburon' 'Tiguan' 'Titan' 'TL' 'TLX' 'Toronado' 'Torrent' 'Touareg 2'
 'Touareg' 'Town and Country' 'Town Car' 'Tracker' 'TrailBlazer EXT'
 'TrailBlazer' 'Trans Sport' 'Transit Connect' 'Transit Wagon' 'Traverse'
 'Trax' 'Tribeca' 'Tribute Hybrid' 'Tribute' 'Truck' 'TSX Sport Wagon'
 'TSX' 'TT RS' 'TT' 'TTS' 'Tucson' 'Tundra' 'Typhoon' 'Uplander'
 'V12 Vanquish' 'V12 Vantage S' 'V12 Vantage' 'V40' 'V50'
 'V60 Cross Country' 'V60' 'V70' 'V8 Vantage' 'V8' 'V90' 'Vanagon'
 'Vandura' 'Van' 'Vanquish' 'Vanwagon' 'Veloster' 'Venture' 'Venza'
 'Veracruz' 'Verano' 'Verona' 'Versa Note' 'Versa' 'Veyron 16.4' 'Vibe'
 'Vigor' 'Viper' 'Virage' 'Vitara' 'Voyager' 'Windstar Cargo' 'Windstar'
 'Wraith' 'WRX' 'X-90' 'X1' 'X3' 'X4' 'X5 M' 'X5' 'X6 M' 'X6' 'xA' 'xB'
 'XC60' 'XC70' 'XC90' 'XC' 'xD' 'XG300' 'XG350' 'XL-7' 'XL7' 'XLR-V' 'XLR'
 'XT5' 'Xterra' 'XTS' 'XT' 'XV Crosstrek' 'Yaris iA' 'Yaris'
 'Yukon Denali' 'Yukon Hybrid' 'Yukon XL' 'Yukon' 'Z3' 'Z4 M' 'Z4' 'Z8'
 'ZDX' 'Zephyr']

Year
[2011 2012 2013 1992 1993 1994 2017 1991 2016 1990 2015 1996 1997 1998
 2014 1999 2002 2003 2004 1995 2007 2008 2009 2001 2010 2000 2005 2006]

Engine Fuel Type
['premium unleaded (required)' 'regular unleaded'
 'premium unleaded (recommended)' 'flex-fuel (unleaded/E85)' 'diesel'
 'electric' 'flex-fuel (premium unleaded recommended/E85)' 'natural gas'
 'flex-fuel (premium unleaded required/E85)'
 'flex-fuel (unleaded/natural gas)' nan]

Engine HP
[ 335.  300.  230.  320.  172.  160.  130.  158.  240.  248.  162.  217.
  184.  295.  115.  140.  155.  114.  100.  241.  180.  177.  228.  121.
  148.  194.  218.  161.  292.  250.  255.  222.   82.  134.  306.  400.
  425.  350.  332.  268.  282.  275.  201.  442.  562.  597.  237.  270.
  445.  443.  302.  322.  315.   nan  101.  135.  485.  238.  515.  543.
  631.  604.  620.  611.  661.  157.  402.  389.  110.  532.  170.  165.
  125.  641.  535.  153.  144.  188.  372.  108.  168.  190.  205.  200.
  227.  173.  220.  210.  280.  207.  265.  260.  290.  285.  390.  225.
  185.  150.  430.  520.  560.  475.  500.  540.  370.  580.  420.  345.
  195.  193.  208.  181.  236.  186.  252.  310.  333.  340.  450.  281.
  288.  138.  137.  106.  271.  196.  212.  278.  189.  480.  152.  600.
  375.  198.  182.  179.  264.  503.  456.  317.  235.  385.  303.   63.
  321.  272.  464.  202.  215.  283.  700.  720.  750.  107.  293.  119.
  143.  245.  120.  337.  276.  330.  132.  199.  530.  451.  329.  469.
  362.   94.  553.  453.  483.  323.  426.  505.  455.  650.  178.  242.
  305.  605.  440.  570.  325.  175.  707.  131.   62.   92.  102.  127.
  174.  621.  510.  429.  536.  355.  382.  577.  113.  136.  234.  552.
  626.  616.  572.  521.  567.  582.  460.  164.  192.  224.  239.  404.
  318.  556.  640.  122.  146.  244.  273.  563.  141.  435.  550.  360.
  145.  349.  166.  147.  128.  197.  291.  660.  261.  156.  403.   95.
  297.   81.  257.  365.  203.  231.  731.  651.  287.  123.  126.  416.
  343.  348.  328.  298.  171.  219.  221.  311.  361.  256.  415.  274.
  449.  395.  401.  454.  444.  338.  342.  467.  545.  565.  301.  263.
   93.  187.  610.   66.  111.   98.  204.  211.   73.  304.  381.  142.
   74.  424.  253.   90.  386.  359.  438.  232.  383.  518.  493.  259.
  523.   55.   79.  116.  151.   78.  191.  592.  632.  670.   88.  167.
  118.  380.  214.  573.  284.   99.  103.  525.  254.  470.  154.  176.
  279.  377.  251.  223.  308.  105.  316.  124.  526.  662.  266.  296.
  557.  617.  583.  622.   84.  163.  354.  159.   96.  206.  169.  133.
  568.  109. 1001.  645.  490.  624.  410.   97.  394.]

Engine Cylinders
[ 6.  4.  5.  8. 12.  0. 10.  3. 16.]

Transmission Type
['MANUAL' 'AUTOMATIC' 'AUTOMATED_MANUAL' 'DIRECT_DRIVE' 'UNKNOWN']

Driven_Wheels
['rear wheel drive' 'front wheel drive' 'all wheel drive'
 'four wheel drive']

Number of Doors
[ 2.  4.  3. nan]

Market Category
['Factory Tuner,Luxury,High-Performance' 'Luxury,Performance'
 'Luxury,High-Performance' 'Luxury' 'Performance' 'Flex Fuel'
 'Flex Fuel,Performance' nan 'Hatchback' 'Hatchback,Luxury,Performance'
 'Hatchback,Luxury' 'Luxury,High-Performance,Hybrid' 'Diesel,Luxury'
 'Hatchback,Performance' 'Hatchback,Factory Tuner,Performance'
 'High-Performance' 'Factory Tuner,High-Performance'
 'Exotic,High-Performance' 'Exotic,Factory Tuner,High-Performance'
 'Factory Tuner,Performance' 'Crossover' 'Exotic,Luxury'
 'Exotic,Luxury,High-Performance' 'Exotic,Luxury,Performance'
 'Factory Tuner,Luxury,Performance' 'Flex Fuel,Luxury' 'Crossover,Luxury'
 'Hatchback,Factory Tuner,Luxury,Performance' 'Crossover,Hatchback'
 'Hybrid' 'Luxury,Performance,Hybrid'
 'Crossover,Luxury,Performance,Hybrid' 'Crossover,Luxury,Performance'
 'Exotic,Factory Tuner,Luxury,High-Performance'
 'Flex Fuel,Luxury,High-Performance' 'Crossover,Flex Fuel' 'Diesel'
 'Hatchback,Diesel' 'Crossover,Luxury,Diesel'
 'Crossover,Luxury,High-Performance'
 'Exotic,Flex Fuel,Factory Tuner,Luxury,High-Performance'
 'Exotic,Flex Fuel,Luxury,High-Performance'
 'Exotic,Factory Tuner,Luxury,Performance' 'Hatchback,Hybrid'
 'Crossover,Hybrid' 'Hatchback,Luxury,Hybrid'
 'Flex Fuel,Luxury,Performance' 'Crossover,Performance' 'Luxury,Hybrid'
 'Crossover,Flex Fuel,Luxury,Performance' 'Crossover,Flex Fuel,Luxury'
 'Crossover,Flex Fuel,Performance'
 'Hatchback,Factory Tuner,High-Performance' 'Hatchback,Flex Fuel'
 'Factory Tuner,Luxury' 'Crossover,Factory Tuner,Luxury,High-Performance'
 'Crossover,Factory Tuner,Luxury,Performance'
 'Crossover,Hatchback,Factory Tuner,Performance'
 'Crossover,Hatchback,Performance' 'Flex Fuel,Hybrid'
 'Flex Fuel,Performance,Hybrid' 'Crossover,Exotic,Luxury,High-Performance'
 'Crossover,Exotic,Luxury,Performance' 'Exotic,Performance'
 'Exotic,Luxury,High-Performance,Hybrid' 'Crossover,Luxury,Hybrid'
 'Flex Fuel,Factory Tuner,Luxury,High-Performance' 'Performance,Hybrid'
 'Crossover,Factory Tuner,Performance' 'Crossover,Diesel'
 'Flex Fuel,Diesel' 'Crossover,Hatchback,Luxury']

Vehicle Size
['Compact' 'Midsize' 'Large']

Vehicle Style
['Coupe' 'Convertible' 'Sedan' 'Wagon' '4dr Hatchback' '2dr Hatchback'
 '4dr SUV' 'Passenger Minivan' 'Cargo Minivan' 'Crew Cab Pickup'
 'Regular Cab Pickup' 'Extended Cab Pickup' '2dr SUV' 'Cargo Van'
 'Convertible SUV' 'Passenger Van']

highway MPG
[ 26  28  27  25  24  20  21  22  35  34  31  30  32  33  23  36  29  45
  43  40  42  19  18  17  15  37  39  41  16  14  38 108 103  12 354  47
  46  82 110  44  13 105  99 102 111 106  48 101  90  97  94  98 100 107
  53  50  74  92 109]

city mpg
[ 19  20  18  17  16  26  23  22  21  24  15  25  29  28  32  31  30  14
  10  27  12  13   9  11 122 121   8  50  49  47  35  33  40  85 128  42
  43  36  44 126   7  34 132 110 137 129  39  41 124  37  88  94  86 101
  95  89 102  98  92  97  91  53  55  51  54  58  78  38 120]

Popularity
[3916 3105  819  617 1013 2009  870  586  436 2774  113 2031  416   67
  210 1715  376  549 1439  535 2202   26  481 5657 1624 1720  520 1385
 1851 1158   61  640  873    2  155  204   86  238  454  259  258  613
  190  105   21  130 1391  820]

MSRP
[46135 40650 36350 ... 46120 50620 50920]

In [53]:
df_lotus = df[df['Make'] == 'Lotus']
df_lotus.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [59]:
X = df_lotus[['Engine HP', 'Engine Cylinders']].drop_duplicates().values
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [60]:
XT = X.T

In [61]:
XT

array([[189., 218., 217., 350., 400., 276., 345., 257., 240.],
       [  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.]])

In [62]:
XTX = np.dot(XT, X)

In [63]:
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [64]:
inv_XTX = np.linalg.inv(XTX)

In [65]:
inv_XTX

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [66]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [67]:
w = np.dot(np.dot(inv_XTX, XT), y)

In [68]:
w

array([  4.59494481, -63.56432501])

In [69]:
w[0]

4.594944810094551